<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhe</title>
    <link rel="stylesheet" href="/css/edit.css">
</head>
<body>
<a href="/prancheta"><button type="submit" class="button-six clip-path">Prancheta</button></a>
  <main class="page payment-page">
    <section class="payment-form dark">
      <div class="container">
        <div class="block-heading">
        </div>
        <form th:action="@{/edit/{id}(id=*{id})}" method="POST" th:object="${carro}">
          <div class="products">
            <h3 class="title">Edit</h3>
            <div class="item">
              <span>Carro:</span><input class="item-name" th:field="*{tcarro}"/><br><br>
              <span>Observação:</span><input class="item-description" th:field="*{obs}"/><br><br>
              <span>Placa:</span><input class="item-description" th:field="*{placa}"/>
            </div>
            <div class="item">
              <span>Data:</span><input class="item-name" th:field="*{data}">
            </div>
            <div class="item">
              <span>Entrada:</span><input class="item-name" th:field="*{hora}"/><br><br>
              <span>Saida:</span><input class="item-name" th:field="*{horaS}"/>
            </div>
            <div class="item">
              <span>Forma de Pagamento:</span><input class="item-name" th:field="*{pago}"/>
            </div>
            <div class="item">
              <span>Contato:</span><input class="item-name" th:field="*{contato}"/>
            </div>
            <div class="total">Valor<input class="price" th:field="*{preco}"/><span class="price">R$</span></div>
          </div>
          <button type="submit" class="button-six clip-path">Salvar</button>
        </form>
      </div>
    </section>
  </main>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>