<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prancheta</title>
    <link rel="stylesheet" href="/css/prancheta.css">
</head>
<body>

 <div id="wrapper">
 <a href="/cadastrar"><button class="button-six clip-path">Cadastrar</button></a>
  <h1>Prancheta</h1>
  <table id="keywords" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th><span>Data</span></th>
        <th><span>Carro</span></th>
        <th><span>HoraEntrada</span></th>
        <th><span>HoraSaida</span></th>
        <th><span>Valor</span></th>
        <th><span>Pagamento</span></th>
      </tr>
    </thead>
    <tbody>
    <th:block th:each="carro : ${carros}">
      <tr>
        <td th:text="${carro.data}">6,000</td>
        <td th:text="${carro.tcarro}">110</td>
        <td th:text="${carro.hora}">1.8%</td>
        <td th:text="${carro.horaS}">1.8%</td>
        <td>R$ <span th:text="${carro.preco}">22.2</span></td>
        <td th:text="${carro.pago}">1.8%</td>
        <form action="/delete" method="post">
        <input type="hidden" th:value="${carro.id}" name="id">
        <td><button type="submit" class="button-seven clip-path">Delete</button></td>
        </form>
      </tr>
    </th:block>
    </tbody>
  </table>
 </div> 
</body>
</html>