<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prancheta</title>
    <link rel="stylesheet" href="/css/prancheta.css">
</head>
<body>
 <div id="wrapper">
  <h1>Prancheta</h1>
  <table id="keywords" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th><span>ID</span></th>
        <th><span>Carro</span></th>
        <th><span>Data</span></th>
        <th><span>Hora</span></th>
        <th><span>Preço</span></th>
        <th><a href="/cadastrar"><button class="button-six clip-path">Cadastrar</button></a></th>
      </tr>
    </thead>
    <tbody>
    <th:block th:each="carro : ${carros}">
      <tr>
        <td class="lalign" th:text="${carro.id}">silly tshirts</td>
        <td th:text="${carro.tcarro}">6,000</td>
        <td th:text="${carro.data}">110</td>
        <td th:text="${carro.hora}">1.8%</td>
        <td>R$ <span th:text="${carro.preco}">22.2</span></td>
      </tr>
    </th:block>
    </tbody>
  </table>
 </div> 
</body>
</html>